<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="SAP.Middleware.Connector">
      <sectionGroup name ="ClientSettings">
        <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration, sapnco" />
      </sectionGroup>
      <sectionGroup name="ServerSettings">
        <section name="ServerConfiguration" type="SAP.Middleware.Connector.RfcServerConfiguration, sapnco"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <SAP.Middleware.Connector>
    <ClientSettings>
      <DestinationConfiguration>
        <destinations>
          <add NAME="DEV" SYSID="PE1" USER="MEDADMIN" PASSWD="meDaaDmiN1" CLIENT="300" LANG="EN" MSHOST="zdb001-0m9100.ygsp.ykgw.net"
               GROUP="PE1_ALL" POOL_SIZE="10" IDLE_TIMEOUT="10"/>
        </destinations>
      </DestinationConfiguration>
    </ClientSettings>

    <ServerSettings>
      <ServerConfiguration>
        <servers>
          <add NAME="MY_SERVER" GWHOST="server
			.domain" GWSERV="SAPGW00" PROGRAM_ID="NCO3_RFC_SERVER"
               REPOSITORY_DESTINATION="DEV" REG_COUNT="1"/>
        </servers>
      </ServerConfiguration>
    </ServerSettings>
  </SAP.Middleware.Connector>
  
  
    <connectionStrings>
        <add name="ReportManager.Properties.Settings.YruPCIassemblingConnectionString"
            connectionString="Data Source=HIS0555\;Initial Catalog=YruPCIassembling;User ID=YruPCItestUser;Password=YruPCItestUser"
            providerName="System.Data.SqlClient" />
        <add name="ReportManager.Properties.Settings.yru_v2ConnectionString"
            connectionString="Data Source=10.26.0.35;Initial Catalog=yru_v2;User ID=yru_operator;Password=yru_operator"
            providerName="System.Data.SqlClient" />
        <add name="ReportManager.Properties.Settings.YruPciAssemblingConnectionString1"
            connectionString="Data Source=HIS0555;Initial Catalog=YruPciAssembling;User ID=YruPCItestUser;Password=YruPCItestUser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
		<system.diagnostics>
		<switches>
			<add name="AllowDebugXtraReportScripts" value="false"/>
		</switches>
	</system.diagnostics>
</configuration>
