<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportManager.Properties.Settings.YruPCIassemblingConnectionString"
            connectionString="Data Source=HIS0555\;Initial Catalog=YruPCIassembling;User ID=YruPCItestUser;Password=YruPCItestUser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>